html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.correctAnswer {
  background-color: green;
}

@keyframes wrongOptionAnimation {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) } 
  100% { transform: translateX(0) }
} 

@keyframes CorrectOptionAnimation {
  0%     {background-color:#ff4343;}
  50.0%  {background-color:rgb(247, 26, 26);}
  100.0%  {background-color:"";}
}
